header {
    background-color: #45256d; 
    padding: 10px 0;
    text-align: center;
    position: fixed;
    width: 100%;
}

header img {
    max-width: 150px;
    height: auto;
}

.sticky-container {
    text-align: center;
    position: sticky;
    top: 110px;
    background: white;
    z-index: 999;
}

.table-container {
    width: 100%;
    overflow-x: auto;
    overflow-y: auto;
    max-height: calc(100vh - 240px);
    margin-top: 100px;
}

table {
    width: 100%;
    border-collapse: collapse;
    min-width: 1200px;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #eb7e31;
} 

.button-container {
    display: flex;
    justify-content: center;
}

#delete-button {
    background-color: #eb7e31;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

#delete-button:hover {
    background-color: #45256d;
}

#export-button {
    background-color: #eb7e31;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    margin-left: 20px;
}

#export-button:hover {
    background-color: #45256d;
}

#clear-button {
    background-color: #eb7e31;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    margin-left: 20px;
}

#clear-button:hover {
    background-color: #45256d;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #45256d;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}